
<table class="form" width="100%">
  <tr>
    <td><%=t(:field_prefix)%>: <%= text_field 'vacancy', 'name'  %></td></td>
  </tr>
</table>

<table class="Error" width="100%">
  <tr>
    <td><%= error_messages_for :vacancy %></td>
  </tr>
</table>
