<% content_for :application_title do %>
	<title><%=t(:label_vacancies_edit)%></title>
<% end%>

<% render :partial => 'layouts/menu/vacancies' %>

<% content_for :page_header do %>
  <%=t(:label_vacancies_edit)%>
<%end%>

<% content_for :page_content do %> 
  <%= render :partial=>'edit' %>
<% end %>
