body{
	font-size:12px;
	font-family:Arial;
	width:100%;
	position:relative;
}
.page{
	width:1004px;
	margin:auto;
	padding:auto;
}

a:link, a:visited{
	color: blue;
	text-decoration: underline;
}

.tbl{
	border-top:1px solid silver;
	border-left:1px solid silver;
}

.tbl td, .tbl th{
	border-bottom:1px solid silver;
	border-right:1px solid silver;
	padding:4px;
}
.tbl th{
	background-color: gray;
	color:white;
}
