<div id="main-tr"> 
  <%= link_to t(:main_menu_main),{:controller => 'main',:action=>'index'},{:id=>"main" }%>
  <%= link_to t(:main_vacancies),{:controller => 'vacancies',:action=>'index'},{:id=>"vacancies" }%>
  <%= link_to t(:main_worker),{:controller => 'workers',:action=>'index'},{:id=>"worker" }%>
</div>

